.destination_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 40px 120px; 
    text-align: center;
    justify-items: center;
}
.destination_container img {
    margin-top: 20px;
}
